@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');

*,
*::after {
    padding: auto;
}

*::before {
    font-family: 'Crimson Pro', sans-serif;
    font-size: large;
}

.divBody {
    padding-top: 0.5px;
}

.div_GameInstructions {
    display: 'flex';
    align-items: left;
}

.cardBody {
    width: 1000px;
    height: 500px;
    margin: 30px auto;
    box-shadow: 0 0 100px rgba(0, 0, 0, .3);
    float: center;
    padding: 50px;
}

.paragraph_style {
    display: 'flex';
    align-items: 'flex-start';
}

.Option_btn {
    background: #f857a8;
    background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
    background: linear-gradient(45deg, #f857a8, #ff5858);
    color: #fff;
    font-weight: bold;
    width: 200px;
}

.Option_btn:hover {
    color: #444;
    background: #ddd;
    background: linear-gradient(45deg, #fff, #ddd);
}

.Lifeline_btn {
    background-color: rgb(246, 228, 206);
    margin-top: 0.5em;
    border: 1px solid rgb(215, 200, 200);
    width: 150px;
}

.Next_btn {
    background: #f857a8;
    background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
    background: linear-gradient(45deg, #f857a8, #ff5858);
    color: #fff;
    font-weight: bold;
    width: 100px
}